@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    font-family: "Baskervville", serif;
    font-weight: 400;
    text-decoration: none;
    --transition-delay-1: 0.3s;
    --transition-delay-2: 0.15s;
    --transition-delay-3: 0.5s;
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color-1: #19191D;
    --dark-color-2: #1E1E22;
    --dark-color-3: #212127;
    --dark-color-4: #25252B;
    --dark-color-5: #333339;
    --gray-color-1: #848484;
    --gray-color-2: #9d9d9d;
    --gray-color-3: #b4b4b4;
    --gray-color-4: #d1d1d1;
    --blue-color-1: #0D47A1;
    --blue-color-2: #3367D6;
    --red-color-1: #8B1D1D;
    --red-color-2: #B33030;
    --highlighter-color: #fff265;
    --nav-bar-width: 320px;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: var(--blue-color-1);
    margin-bottom: 25px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 28px;
}
p, a {
    font-size: 18px;
}
p {
    margin-bottom: 20px;
    text-align: justify;
    hyphens: auto;
    line-height: 1.5; 
}
a{
    color: var(--dark-color-5);
}
a:hover {
    color: var(--black-color);
}